.row {
    border: 1px solid black;
    padding-left: 80px;
    
}

h1 {
    background-color: rgb(66, 59, 59);
    color: white;
    height: 10%;
    padding-bottom: 20px;
    padding-top: 10px;
}

li {
    height: 50%;
}